
.depicter-revert .depicter-1-section-3 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-5 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-7 .depicter-section-background{
	background-color:#FFF;
}

